<div class="answer-tile well">

  <h4>{{answer.author}}:</h4>
  <p>
    "{{answer.content}}"
  </p>
<div id="delete-answer">
  <button class='btn-danger'{{action 'delete' answer}}>Delete Answer</button>
</div>
<br>
</div>
