<div class="question-tile">
  <li>
    {{question.author}}<br>
    {{question.content}}
  </li>
  {{update-question question=question update="update"}}
  <button class="btn" {{action 'delete' question}}>Delete Question</button>
</div>
