<div class="container-fluid navbar">
  <div class="collapse navbar-collapse" id="navbar">
    <ul class="nav navbar-nav">
      <li><a href="about">About</a></li>
      <li><a href="contact">Contact</a></li>
    </ul>
  </div>
</div>

<div class= "application-container container">
  {{#link-to "index"}}
    <header class= "header">
      <h1 id="application-h1">Q&A</h1>
    </header>
  {{/link-to}}
    {{outlet}}
  <footer id=footer>
    <p>©Sean Peterson</p>
  </footer>
</div>
