<span class="secondary-title" id="index-secondary-title"><h2>Questions:</h2></span>
{{#each model as |question|}}
  {{question-tile question=question update="update" destroyQuestion="destroyQuestion"}}

{{/each}}
{{new-question saveQuestion2="saveQuestion3"}}
