<h4>{{model.author}} asked:</h4>
<p>
  {{model.content}}
</p>
<br>
<h4>Side note:<br></h4>
<p>
  {{model.notes}}
</p>

{{update-question model=model update="update" destroyQuestion="destroyQuestion"}}
